<header>
    <h1>
        THE BURGER DEALS!!!
    </h1>
    <div class="flex-header-container">
        <form method="post" action="/selector/reset" class="flex-header-item">
            <input type="submit" value="HARD RESET" class="header-button">
        </form>
        <form method="post" action="/selector/wipe" class="flex-header-item">
            <input type="submit" value="WIPE" class="header-button">
        </form>
        <form method="post" action="/selector/seed" class="flex-header-item">
            <input type="submit" value="SEED VALUES" class="header-button">
        </form>
    </div>
</header>
