<header>
    <h1>
        New Eatery!!
    </h1>
</header>

<div class="flex-summary-container">
    <div class="flex-summary-item">
        <form action="/eateries/new" method="post">
            Eatery Name:
            <input type="text" name="name"/>
            <br/>
            <input type="submit" value="Submit burger eatery"/>
        </form>
    </div>
</div>
